.download-badge {
    text-align: center;
    margin-top: 2em;

    img {
        height: 60px;
    }
}

.video-group {
    text-align: center;
}

.video-block {
    display: inline-block;
    text-align: center;
    margin: 1em 1em 2em 1em;

    @include large {
        width: 320px;
        video {
            width: 285px; // trick to push the controls outside the video
            //width: 320px;
            height: 568px;
        }
    }

    @include medium {
        width: 240px;
        video {
            width: 205px; // trick to push the controls outside the video
            height: 426px;
        }
    }

    @include small {
        width: 240px;
        video {
            width: 205px; // trick to push the controls outside the video
            height: 426px;
        }
    }


    .caption {
        text-align: center;
        font-style: italic;
    }

/*
    video::-webkit-media-controls-panel {
        bottom: -32px;
    }
*/
}
